body {
    background-image: url(https://wallpapertag.com/wallpaper/full/5/f/2/408891-night-sky-stars-wallpaper-2560x1600-windows-10.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
  .menu {
    width: 80%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    color: white;
  }
  .icon{
    max-width:50px;
    display: flex; justify-content: center; align-items: center; 
  }
  h1, h2, p {
    text-align: center;
  }
  .alo{
    display: inline-block; justify-content: left; max-width: 350px; height: 300px;
  }
  .sab{
    display: inline-block; justify-content: right; max-width: 350px;height: 300px;
  }
  .established {
    font-style: italic;
    text-align:justify;
    text-align: center;
  }
  hr {
    height: 2px;
    background-color: white;
    border-color: whitesmoke;
  }